body{
    background: radial-gradient(rgb(174, 216, 255), rgb(45, 115, 219));
}
h1{
    padding: 30px;
    text-align: center;
}
button
{
    height: 40px;
    width: 150px;
    border: 1px solid black;
    background-color: rgb(167, 202, 255);
    cursor: pointer;
    padding: 5px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;  
}

th, td{
    padding: 5px;
}
